@page "/"
@namespace ExampleComplete

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<Counter IncrementAmount="20" />

<SurveyPrompt Title="How is Blazor working for you?" />

<button @onclick="RunElements">Run Elements</button>


@code {
  private void RunElements () {
    Elements.Run();
  }
}